.app>.MintSeller {
    grid-column: span 12;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    background-image: url(/src/assets/middle/phorse-g-png.png);
    background-color: blue;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: auto;
    padding-left: 15px;
    justify-content: space-around;
    gap: 15px;
}

.MintSeller>article {
    background-color: gainsboro;
    border-radius: 25%;
    min-height: 200px;
    max-width: ;
    border-color: blue;
    background-size: contain;
    ;
    /*  min-width: 250px;
    min-height: 250px;
    padding.left: 15vh;*/
    flex: 0 1 auto;
}

div>img {}

@media screen and (min-width:900px) {
    .app>.MintSeller {
        grid-column: span 12;
        grid-row: 2;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        justify-items: center;
        text-align: center;
        align-items: center;
        background-image: url(/src/assets/middle/phorse-g-png.png);
        background-color: blue;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-height: auto;
        padding-left: 15px;
        justify-content: space-around;
        gap: 15px;
    }
    .MintSeller>article {
        background-color: #222;
        border-radius: 25%;
        min-height: 200px;
        border-color: blue;
        background-size: contain;
        ;
        /*  min-width: 250px;
        min-height: 250px;
        padding.left: 15vh;*/
        flex: 1 1 auto;
    }
}